html {
  background: linear-gradient(
    9deg,
    rgba(76, 85, 103, 1) 0%,
    rgba(86, 147, 173, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
